@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  background-color: hsl(226, 43%, 10%);
  place-content: center;
}

.template {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
}

.bg {
  height: 25%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.cards:nth-child(1) {
  grid-row: 1/3;
}

.cards:nth-child(1) .bg {
  background-color: hsl(246, 80%, 60%);
}

.cards:nth-child(2) .bg {
  background-color: hsl(15, 100%, 70%);
}
.cards:nth-child(3) .bg {
  background-color: hsl(195, 74%, 62%);
}
.cards:nth-child(4) .bg {
  background-color: hsl(348, 100%, 68%);
}
.cards:nth-child(5) .bg {
  background-color: hsl(145, 58%, 55%);
}
.cards:nth-child(6) .bg {
  background-color: hsl(264, 64%, 52%);
}
.cards:nth-child(7) .bg {
  background-color: hsl(43, 84%, 65%);
}

.data {
  background-color: hsl(235, 46%, 20%);
  height: 80%;
  width: 100%;
  border-radius: 10px;
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  justify-content: space-around;
  transition: all ease 0.3s;
}

.data:hover {
  background-color: hsl(235, 45%, 61%);
}

.data p {
  font-size: 40px;
  color: white;
  font-weight: 100;
}

.data h4 {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}

.data img {
  position: absolute;
  top: 25px;
  right: 25px;
}

.bg img {
  margin-right: 15px;
  height: 60px;
}

.selector .data {
  height: 35%;
  bottom: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.selector .bg {
  height: 65%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.selector img {
  height: 70px;
  border: white solid 2px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.selector .name {
  color: white;
  font-size: 36px;
  font-weight: 100;
}

span {
  font-size: 12px;
  color: hsl(236, 100%, 87%);
  font-weight: 100;
}

.selector a {
  margin-left: 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
